
.ipynb_checkpoints/HAWC_30Dor-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_Inspection-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_CustomExtraction-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_LineAnalysis-2-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_Inspection-1-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_CustomExtraction-3-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_LineAnalysis-2-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_Inspection-1-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_CustomExtraction-3-checkpoint.ipynb
.ipynb_checkpoints/EXES-example-checkpoint.ipynb
FORCAST_v1.1/.ipynb_checkpoints/FORCAST-Grism_LineAnalysis-2-checkpoint.ipynb
FORCAST_v1.1/.ipynb_checkpoints/FORCAST-Grism_Inspection-1-checkpoint.ipynb
FORCAST_v1.1/.ipynb_checkpoints/FORCAST-Grism_CustomExtraction-3-checkpoint.ipynb
HAWC+_v1.1/.ipynb_checkpoints/HAWC_30Dor-checkpoint.ipynb
HAWC_v1.1/.ipynb_checkpoints/HAWC_30Dor-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/SOFIA_data_retrieval-checkpoint.ipynb
FORCAST_v1.1/.ipynb_checkpoints/FORCAST-basic_photometry-checkpoint.ipynb
FORCAST_v1.1/.ipynb_checkpoints/FORCAST-basic_photometry-checkpoint.ipynb
FORCAST_v1.1/FORCAST-basic_photometry.ipynb
FORCAST/.ipynb_checkpoints/FORCAST-Grism_Inspection-1-checkpoint.ipynb
FORCAST/.ipynb_checkpoints/FORCAST-Grism_Inspection-1-checkpoint.ipynb
FORCAST/.ipynb_checkpoints/FORCAST-Grism_LineAnalysis-2-checkpoint.ipynb
FORCAST/.ipynb_checkpoints/FORCAST-Grism_Inspection-1-checkpoint.ipynb
FORCAST/.ipynb_checkpoints/FORCAST-Grism_CustomExtraction-3-checkpoint.ipynb
HAWC/.ipynb_checkpoints/HAWC_30_Dor-checkpoint.ipynb
SOFIA/.ipynb_checkpoints/SOFIA_data_retrieval-checkpoint.ipynb
docs/.ipynb_checkpoints/EXES-Data-Inspection-checkpoint.ipynb
docs/.ipynb_checkpoints/EXES-Telluric-Correction-checkpoint.ipynb
docs/.ipynb_checkpoints/GREAT-Class_primer-checkpoint.ipynb
docs/.ipynb_checkpoints/GREAT-data-inspection-checkpoint.ipynb
docs/.ipynb_checkpoints/EXES-Data-Inspection-checkpoint.ipynb
docs/.ipynb_checkpoints/GREAT-Class_primer-checkpoint.ipynb
docs/.ipynb_checkpoints/HAWC_30_Dor-checkpoint.ipynb
docs/.ipynb_checkpoints/EXES-Data-Inspection-checkpoint.ipynb
