
.ipynb_checkpoints/HAWC_30Dor-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_Inspection-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_CustomExtraction-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_LineAnalysis-2-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_Inspection-1-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_CustomExtraction-3-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_LineAnalysis-2-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_Inspection-1-checkpoint.ipynb
.ipynb_checkpoints/FORCAST-Grism_CustomExtraction-3-checkpoint.ipynb
.ipynb_checkpoints/EXES-example-checkpoint.ipynb
FORCAST_v1.1/.ipynb_checkpoints/FORCAST-Grism_LineAnalysis-2-checkpoint.ipynb
FORCAST_v1.1/.ipynb_checkpoints/FORCAST-Grism_Inspection-1-checkpoint.ipynb
FORCAST_v1.1/.ipynb_checkpoints/FORCAST-Grism_CustomExtraction-3-checkpoint.ipynb
HAWC+_v1.1/.ipynb_checkpoints/HAWC_30Dor-checkpoint.ipynb
HAWC_v1.1/.ipynb_checkpoints/HAWC_30Dor-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/SOFIA_data_retrieval-checkpoint.ipynb
