astropy==5.0.4
aplpy==2.1.0
matplotlib==3.4.3
specutils==1.7.0
nbmake==0.5
pytest-check-links==0.6.0
photutils==1.2.0
nbsphinx==0.8.8
ipywidgets==7.6.5
spectral_cube==0.6.0
sphinx-sitemap==2.2.0
pvextractor==0.3